In [4]:
import pandas as pd

In [2]:
output = !wget https://github.com/DataTalksClub/nyc-tlc-data/releases/download/green/green_tripdata_2019-09.csv.gz
output

['--2024-01-28 19:06:30--  https://github.com/DataTalksClub/nyc-tlc-data/releases/download/green/green_tripdata_2019-09.csv.gz',
 'Resolving github.com (github.com)... 140.82.121.4',
 'Connecting to github.com (github.com)|140.82.121.4|:443... connected.',
 'HTTP request sent, awaiting response... 302 Found',
 'Location: https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/b5af7693-2f26-4bd5-8854-75edeb650bae?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAVCODYLSA53PQK4ZA%2F20240128%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20240128T180421Z&X-Amz-Expires=300&X-Amz-Signature=4c00eb0e177450a4a0f3746051ce7cebcf60f436ef99a5e17eef1946796d6a02&X-Amz-SignedHeaders=host&actor_id=0&key_id=0&repo_id=513814948&response-content-disposition=attachment%3B%20filename%3Dgreen_tripdata_2019-09.csv.gz&response-content-type=application%2Foctet-stream [following]',
 '--2024-01-28 19:06:30--  https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/b5af7693-2f26-4bd5-8854-75edeb650bae?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAVCODYLSA53PQK4ZA%2F20240128%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20240128T180421Z&X-Amz-Expires=300&X-Amz-Signature=4c00eb0e177450a4a0f3746051ce7cebcf60f436ef99a5e17eef1946796d6a02&X-Amz-SignedHeaders=host&actor_id=0&key_id=0&repo_id=513814948&response-content-disposition=attachment%3B%20filename%3Dgreen_tripdata_2019-09.csv.gz&response-content-type=application%2Foctet-stream',
 'Resolving objects.githubusercontent.com (objects.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...',
 'Connecting to objects.githubusercontent.com (objects.githubusercontent.com)|185.199.108.133|:443... connected.',
 'HTTP request sent, awaiting response... 200 OK',
 'Length: 7854533 (7.5M) [application/octet-stream]',
 'Saving to: ‘green_tripdata_2019-09.csv.gz’',
 '',
 '     0K .......... .......... .......... .......... ..........  0% 1.44M 5s',
 '    50K .......... .......... .......... .......... ..........  1% 1.98M 4s',
 '   100K .......... .......... .......... .......... ..........  1% 3.22M 4s',
 '   150K .......... .......... .......... .......... ..........  2% 4.77M 3s',
 '   200K .......... .......... .......... .......... ..........  3% 3.19M 3s',
 '   250K .......... .......... .......... .......... ..........  3% 5.46M 3s',
 '   300K .......... .......... .......... .......... ..........  4% 4.25M 3s',
 '   350K .......... .......... .......... .......... ..........  5% 3.94M 2s',
 '   400K .......... .......... .......... .......... ..........  5% 5.78M 2s',
 '   450K .......... .......... .......... .......... ..........  6% 7.38M 2s',
 '   500K .......... .......... .......... .......... ..........  7% 4.89M 2s',
 '   550K .......... .......... .......... .......... ..........  7%  327K 4s',
 '   600K .......... .......... .......... .......... ..........  8% 94.7M 3s',
 '   650K .......... .......... .......... .......... ..........  9% 9.91M 3s',
 '   700K .......... .......... .......... .......... ..........  9%  164M 3s',
 '   750K .......... .......... .......... .......... .......... 10% 14.0M 3s',
 '   800K .......... .......... .......... .......... .......... 11% 13.6M 3s',
 '   850K .......... .......... .......... .......... .......... 11% 14.9M 2s',
 '   900K .......... .......... .......... .......... .......... 12% 6.89M 2s',
 '   950K .......... .......... .......... .......... .......... 13%  115M 2s',
 '  1000K .......... .......... .......... .......... .......... 13%  161M 2s',
 '  1050K .......... .......... .......... .......... .......... 14% 10.4M 2s',
 '  1100K .......... .......... .......... .......... .......... 14%  728K 2s',
 '  1150K .......... .......... .......... .......... .......... 15% 6.98M 2s',
 '  1200K .......... .......... .......... .......... .......... 16% 1.64M 2s',
 '  1250K .......... .......... .......... .......... .......... 16% 9.71M 2s',
 '  1300K .......... .......... .......... .......... .......... 17%  140M 2s',
 '  1350K .......... .......... .......... .......... .......... 18% 2.00M 2s',
 '  1400K .......... .......... .......... .......... .......... 18% 6.05M 2s',
 '  1450K .......... .......... .......... .......... .......... 19% 6.67M 2s',
 '  1500K .......... .......... .......... .......... .......... 20% 4.57M 2s',
 '  1550K .......... .......... .......... .......... .......... 20% 5.50M 2s',
 '  1600K .......... .......... .......... .......... .......... 21% 6.23M 2s',
 '  1650K .......... .......... .......... .......... .......... 22% 6.46M 2s',
 '  1700K .......... .......... .......... .......... .......... 22% 5.51M 2s',
 '  1750K .......... .......... .......... .......... .......... 23% 4.86M 2s',
 '  1800K .......... .......... .......... .......... .......... 24% 6.66M 2s',
 '  1850K .......... .......... .......... .......... .......... 24% 7.07M 2s',
 '  1900K .......... .......... .......... .......... .......... 25% 1.02M 2s',
 '  1950K .......... .......... .......... .......... .......... 26%  106M 2s',
 '  2000K .......... .......... .......... .......... .......... 26%  132M 2s',
 '  2050K .......... .......... .......... .......... .......... 27%  111M 2s',
 '  2100K .......... .......... .......... .......... .......... 28%  108M 2s',
 '  2150K .......... .......... .......... .......... .......... 28% 2.15M 2s',
 '  2200K .......... .......... .......... .......... .......... 29% 5.05M 2s',
 '  2250K .......... .......... .......... .......... .......... 29% 5.35M 2s',
 '  2300K .......... .......... .......... .......... .......... 30% 5.51M 1s',
 '  2350K .......... .......... .......... .......... .......... 31% 5.18M 1s',
 '  2400K .......... .......... .......... .......... .......... 31% 2.42M 1s',
 '  2450K .......... .......... .......... .......... .......... 32% 5.87M 1s',
 '  2500K .......... .......... .......... .......... .......... 33% 6.06M 1s',
 '  2550K .......... .......... .......... .......... .......... 33%  673K 2s',
 '  2600K .......... .......... .......... .......... .......... 34% 23.4M 1s',
 '  2650K .......... .......... .......... .......... .......... 35% 72.8M 1s',
 '  2700K .......... .......... .......... .......... .......... 35% 4.47M 1s',
 '  2750K .......... .......... .......... .......... .......... 36% 3.76M 1s',
 '  2800K .......... .......... .......... .......... .......... 37% 4.04M 1s',
 '  2850K .......... .......... .......... .......... .......... 37% 6.04M 1s',
 '  2900K .......... .......... .......... .......... .......... 38%  522K 1s',
 '  2950K .......... .......... .......... .......... .......... 39% 7.27M 1s',
 '  3000K .......... .......... .......... .......... .......... 39% 4.20M 1s',
 '  3050K .......... .......... .......... .......... .......... 40% 2.41M 1s',
 '  3100K .......... .......... .......... .......... .......... 41%  904K 1s',
 '  3150K .......... .......... .......... .......... .......... 41%  124M 1s',
 '  3200K .......... .......... .......... .......... .......... 42%  210M 1s',
 '  3250K .......... .......... .......... .......... .......... 43% 7.02M 1s',
 '  3300K .......... .......... .......... .......... .......... 43% 3.19M 1s',
 '  3350K .......... .......... .......... .......... .......... 44% 1.37M 1s',
 '  3400K .......... .......... .......... .......... .......... 44% 3.04M 1s',
 '  3450K .......... .......... .......... .......... .......... 45% 3.55M 1s',
 '  3500K .......... .......... .......... .......... .......... 46% 2.29M 1s',
 '  3550K .......... .......... .......... .......... .......... 46% 4.47M 1s',
 '  3600K .......... .......... .......... .......... .......... 47% 2.58M 1s',
 '  3650K .......... .......... .......... .......... .......... 48% 4.27M 1s',
 '  3700K .......... .......... .......... .......... .......... 48% 2.69M 1s',
 '  3750K .......... .......... .......... .......... .......... 49% 4.69M 1s',
 '  3800K .......... .......... .......... .......... .......... 50% 3.19M 1s',
 '  3850K .......... .......... .......... .......... .......... 50% 3.87M 1s',
 '  3900K .......... .......... .......... .......... .......... 51% 2.28M 1s',
 '  3950K .......... .......... .......... .......... .......... 52% 3.42M 1s',
 '  4000K .......... .......... .......... .......... .......... 52% 4.12M 1s',
 '  4050K .......... .......... .......... .......... .......... 53% 2.11M 1s',
 '  4100K .......... .......... .......... .......... .......... 54% 4.63M 1s',
 '  4150K .......... .......... .......... .......... .......... 54% 2.09M 1s',
 '  4200K .......... .......... .......... .......... .......... 55% 5.19M 1s',
 '  4250K .......... .......... .......... .......... .......... 56% 2.29M 1s',
 '  4300K .......... .......... .......... .......... .......... 56% 4.00M 1s',
 '  4350K .......... .......... .......... .......... .......... 57% 2.54M 1s',
 '  4400K .......... .......... .......... .......... .......... 58% 5.38M 1s',
 '  4450K .......... .......... .......... .......... .......... 58% 2.56M 1s',
 '  4500K .......... .......... .......... .......... .......... 59% 3.66M 1s',
 '  4550K .......... .......... .......... .......... .......... 59% 4.13M 1s',
 '  4600K .......... .......... .......... .......... .......... 60% 1.88M 1s',
 '  4650K .......... .......... .......... .......... .......... 61% 3.73M 1s',
 '  4700K .......... .......... .......... .......... .......... 61% 2.39M 1s',
 '  4750K .......... .......... .......... .......... .......... 62% 2.91M 1s',
 '  4800K .......... .......... .......... .......... .......... 63% 2.51M 1s',
 '  4850K .......... .......... .......... .......... .......... 63% 4.07M 1s',
 '  4900K .......... .......... .......... .......... .......... 64% 2.88M 1s',
 '  4950K .......... .......... .......... .......... .......... 65% 4.99M 1s',
 '  5000K .......... .......... .......... .......... .......... 65% 2.51M 1s',
 '  5050K .......... .......... .......... .......... .......... 66% 1.17M 1s',
 '  5100K .......... .......... .......... .......... .......... 67%  121M 1s',
 '  5150K .......... .......... .......... .......... .......... 67% 14.1M 1s',
 '  5200K .......... .......... .......... .......... .......... 68% 2.42M 1s',
 '  5250K .......... .......... .......... .......... .......... 69% 3.41M 1s',
 '  5300K .......... .......... .......... .......... .......... 69% 1.50M 1s',
 '  5350K .......... .......... .......... .......... .......... 70% 2.88M 1s',
 '  5400K .......... .......... .......... .......... .......... 71% 2.82M 1s',
 '  5450K .......... .......... .......... .......... .......... 71% 1.89M 1s',
 '  5500K .......... .......... .......... .......... .......... 72% 3.14M 1s',
 '  5550K .......... .......... .......... .......... .......... 73%  824K 1s',
 '  5600K .......... .......... .......... .......... .......... 73% 99.7M 1s',
 '  5650K .......... .......... .......... .......... .......... 74% 1.61M 1s',
 '  5700K .......... .......... .......... .......... .......... 74% 2.31M 1s',
 '  5750K .......... .......... .......... .......... .......... 75% 3.42M 1s',
 '  5800K .......... .......... .......... .......... .......... 76% 1.36M 1s',
 '  5850K .......... .......... .......... .......... .......... 76% 1.97M 1s',
 '  5900K .......... .......... .......... .......... .......... 77% 2.94M 1s',
 '  5950K .......... .......... .......... .......... .......... 78% 1.75M 1s',
 '  6000K .......... .......... .......... .......... .......... 78% 3.53M 1s',
 '  6050K .......... .......... .......... .......... .......... 79% 2.78M 1s',
 '  6100K .......... .......... .......... .......... .......... 80% 1.67M 1s',
 '  6150K .......... .......... .......... .......... .......... 80% 3.32M 0s',
 '  6200K .......... .......... .......... .......... .......... 81% 2.93M 0s',
 '  6250K .......... .......... .......... .......... .......... 82% 2.75M 0s',
 '  6300K .......... .......... .......... .......... .......... 82% 2.44M 0s',
 '  6350K .......... .......... .......... .......... .......... 83% 2.70M 0s',
 '  6400K .......... .......... .......... .......... .......... 84% 2.38M 0s',
 '  6450K .......... .......... .......... .......... .......... 84% 2.20M 0s',
 '  6500K .......... .......... .......... .......... .......... 85% 3.96M 0s',
 '  6550K .......... .......... .......... .......... .......... 86% 2.82M 0s',
 '  6600K .......... .......... .......... .......... .......... 86% 2.83M 0s',
 '  6650K .......... .......... .......... .......... .......... 87% 3.41M 0s',
 '  6700K .......... .......... .......... .......... .......... 88% 2.75M 0s',
 '  6750K .......... .......... .......... .......... .......... 88% 1.93M 0s',
 '  6800K .......... .......... .......... .......... .......... 89% 3.95M 0s',
 '  6850K .......... .......... .......... .......... .......... 89% 2.79M 0s',
 '  6900K .......... .......... .......... .......... .......... 90% 2.88M 0s',
 '  6950K .......... .......... .......... .......... .......... 91% 2.17M 0s',
 '  7000K .......... .......... .......... .......... .......... 91% 4.29M 0s',
 '  7050K .......... .......... .......... .......... .......... 92% 2.51M 0s',
 '  7100K .......... .......... .......... .......... .......... 93% 1.04M 0s',
 '  7150K .......... .......... .......... .......... .......... 93% 20.8M 0s',
 '  7200K .......... .......... .......... .......... .......... 94% 1.12M 0s',
 '  7250K .......... .......... .......... .......... .......... 95% 1.71M 0s',
 '  7300K .......... .......... .......... .......... .......... 95% 1.21M 0s',
 '  7350K .......... .......... .......... .......... .......... 96%  507K 0s',
 '  7400K .......... .......... .......... .......... .......... 97% 4.29M 0s',
 '  7450K .......... .......... .......... .......... .......... 97%  761K 0s',
 '  7500K .......... .......... .......... .......... .......... 98% 1.59M 0s',
 '  7550K .......... .......... .......... .......... .......... 99% 2.05M 0s',
 '  7600K .......... .......... .......... .......... .......... 99% 1.10M 0s',
 '  7650K .......... ..........                                 100% 82.8M=2.8s',
 '',
 '2024-01-28 19:06:34 (2.63 MB/s) - ‘green_tripdata_2019-09.csv.gz’ saved [7854533/7854533]',
 '']

In [25]:
df = pd.read_csv('green_tripdata_2019-09.csv.gz',nrows=100)

In [26]:
df

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2,2019-09-01 00:10:53,2019-09-01 00:23:46,N,1,65,189,5,2.00,10.5,0.5,0.5,2.36,0.00,NaN,0.3,14.16,1,1,0.0
1,2,2019-09-01 00:31:22,2019-09-01 00:44:37,N,1,97,225,5,3.20,12.0,0.5,0.5,0.00,0.00,NaN,0.3,13.30,2,1,0.0
2,2,2019-09-01 00:50:24,2019-09-01 01:03:20,N,1,37,61,5,2.99,12.0,0.5,0.5,0.00,0.00,NaN,0.3,13.30,2,1,0.0
3,2,2019-09-01 00:27:06,2019-09-01 00:33:22,N,1,145,112,1,1.73,7.5,0.5,0.5,1.50,0.00,NaN,0.3,10.30,1,1,0.0
4,2,2019-09-01 00:43:23,2019-09-01 00:59:54,N,1,112,198,1,3.42,14.0,0.5,0.5,3.06,0.00,NaN,0.3,18.36,1,1,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,2,2019-09-01 00:40:55,2019-09-01 00:48:35,N,1,95,160,1,2.24,9.0,0.5,0.5,0.00,0.00,NaN,0.3,10.30,2,1,0.0
96,2,2019-09-01 00:13:52,2019-09-01 00:21:47,N,1,75,151,1,2.04,8.5,0.5,0.5,1.96,0.00,NaN,0.3,11.76,1,1,0.0
97,2,2019-09-01 00:37:24,2019-09-01 01:02:31,N,1,41,182,1,7.77,26.0,0.5,0.5,5.46,0.00,NaN,0.3,32.76,1,1,0.0
98,2,2019-09-01 00:22:15,2019-09-01 00:29:52,N,1,74,260,1,4.99,15.0,0.5,0.5,2.58,6.12,NaN,0.3,25.00,1,1,0.0
99,2,2019-09-01 00:11:53,2019-09-01 00:30:31,N,1,255,228,1,7.54,22.0,0.5,0.5,0.00,0.00,NaN,0.3,23.30,2,1,0.0

In [7]:
df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)

In [8]:
from sqlalchemy import create_engine

In [27]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [28]:
engine.connect()

In [11]:
print(pd.io.sql.get_schema(df,name='green_taxi_data',con=engine)) # type: ignore

CREATE TABLE yellow_taxi_data (
	"VendorID" BIGINT,
	lpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	lpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	store_and_fwd_flag TEXT,
	"RatecodeID" BIGINT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	ehail_fee FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	payment_type BIGINT,
	trip_type BIGINT,
	congestion_surcharge FLOAT(53)
)

In [29]:
df_iter = pd.read_csv('green_tripdata_2019-09.csv.gz',iterator = True,chunksize=100000)

In [30]:
df = next(df_iter)
df

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2,2019-09-01 00:10:53,2019-09-01 00:23:46,N,1,65,189,5,2.00,10.5,0.5,0.5,2.36,0.0,NaN,0.3,14.16,1,1,0.0
1,2,2019-09-01 00:31:22,2019-09-01 00:44:37,N,1,97,225,5,3.20,12.0,0.5,0.5,0.00,0.0,NaN,0.3,13.30,2,1,0.0
2,2,2019-09-01 00:50:24,2019-09-01 01:03:20,N,1,37,61,5,2.99,12.0,0.5,0.5,0.00,0.0,NaN,0.3,13.30,2,1,0.0
3,2,2019-09-01 00:27:06,2019-09-01 00:33:22,N,1,145,112,1,1.73,7.5,0.5,0.5,1.50,0.0,NaN,0.3,10.30,1,1,0.0
4,2,2019-09-01 00:43:23,2019-09-01 00:59:54,N,1,112,198,1,3.42,14.0,0.5,0.5,3.06,0.0,NaN,0.3,18.36,1,1,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,2,2019-09-08 21:34:31,2019-09-08 21:42:44,N,1,74,151,1,2.12,8.5,0.5,0.5,2.45,0.0,NaN,0.3,12.25,1,1,0.0
99996,2,2019-09-08 21:06:54,2019-09-08 21:12:38,N,1,130,28,1,0.83,5.5,0.5,0.5,0.00,0.0,NaN,0.3,6.80,2,1,0.0
99997,2,2019-09-08 21:22:10,2019-09-08 21:29:33,N,1,130,10,1,2.56,9.5,0.5,0.5,2.00,0.0,NaN,0.3,12.80,1,1,0.0
99998,2,2019-09-08 21:33:42,2019-09-08 21:33:48,N,5,92,92,1,0.13,22.0,0.0,0.0,0.00,0.0,NaN,0.0,22.00,1,2,0.0
99999,2,2019-09-08 21:29:16,2019-09-08 21:36:45,N,1,7,7,1,1.09,6.5,0.5,0.5,0.00,0.0,NaN,0.3,7.80,2,1,0.0

In [14]:
len(df)

100000

In [31]:
df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)

In [32]:
df.to_sql(name='green_taxi_data',con=engine,if_exists='replace')

1000

In [33]:
df.head(n=0)

Empty DataFrame
Columns: [VendorID, lpep_pickup_datetime, lpep_dropoff_datetime, store_and_fwd_flag, RatecodeID, PULocationID, DOLocationID, passenger_count, trip_distance, fare_amount, extra, mta_tax, tip_amount, tolls_amount, ehail_fee, improvement_surcharge, total_amount, payment_type, trip_type, congestion_surcharge]
Index: []

In [34]:
%time df.to_sql(name='yellow_taxi_data',con=engine,if_exists="append")

PendingRollbackError: Can't reconnect until invalid transaction is rolled back. (Background on this error at: https://sqlalche.me/e/14/8s2b)

In [35]:
from time import time

In [36]:
c = 0
while True:
    t_start = time()
    df = next(df_iter)

    df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
    df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)

    df.to_sql(name='green_taxi_data',con=engine,if_exists="append")

    t_end = time()

    print('insrted another chunk..., took %.3f second' %(t_end-t_start))
    c += t_end-t_start

insrted another chunk..., took 10.248 second
insrted another chunk..., took 8.052 second

/tmp/ipykernel_42841/130642472.py:4: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  df = next(df_iter)

insrted another chunk..., took 8.587 second
insrted another chunk..., took 3.630 second

StopIteration:

In [36]:
print(f"it took {c/60} minutes")

it took 2.8222103993097942 minutes

In [14]:
df_zones = pd.read_csv('taxi+_zone_lookup.csv')
df_zones

     LocationID        Borough                     Zone service_zone
0             1            EWR           Newark Airport          EWR
1             2         Queens              Jamaica Bay    Boro Zone
2             3          Bronx  Allerton/Pelham Gardens    Boro Zone
3             4      Manhattan            Alphabet City  Yellow Zone
4             5  Staten Island            Arden Heights    Boro Zone
..          ...            ...                      ...          ...
260         261      Manhattan       World Trade Center  Yellow Zone
261         262      Manhattan           Yorkville East  Yellow Zone
262         263      Manhattan           Yorkville West  Yellow Zone
263         264        Unknown                       NV          NaN
264         265        Unknown                      NaN          NaN

[265 rows x 4 columns]

In [10]:
print(pd.io.sql.get_schema(df_zones,name='yellow_taxi_data',con=engine)) # type: ignore

CREATE TABLE yellow_taxi_data (
	"LocationID" BIGINT,
	"Borough" TEXT,
	"Zone" TEXT,
	service_zone TEXT
)

In [13]:
df_zones.to_sql(name='zones',con=engine,if_exists='replace')

265

In [12]:
from time import time

In [ ]:
c = 0
while True:
    t_start = time()
    df = next(df_iter)

    df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
    df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

    df.to_sql(name='yellow_taxi_data',con=engine,if_exists="append")

    t_end = time()

    print('insrted another chunk..., took %.3f second' %(t_end-t_start))
    c += t_end-t_start